@font-face {
    font-family: MyFont;
    src: url(Minecraft.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   padding: 2rem;
   height: 100vh;
    background: linear-gradient(to bottom, #2E3192, #1BFFFF);
    font-family: MyFont;


}

h1{
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
    letter-spacing: 3px;
}

h3{
    font-weight: 600px;
}

.calendario{
    margin: auto;
    width: 380px;
    padding: 1rem;
    background: #fff;
    border-radius: 13px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.calendario header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.calendario ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}

.calendario ul li{
    width: calc(100% / 7 );
    margin-top: 25px;
    position: relative;
    z-index: 2;
}

#anterior, #proximo{
    width: 20px;
    height: 20px;
    position: relative;
    top: 50%;
    border: none;
    background: transparent;
    cursor: pointer;

}

#anterior::before, #proximo::before{
    content: '';
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    border-color: #ccc;


}

#anterior::before{
    transform: translate(-50%, -50%) rotate(-135deg);

}

#proximo::before{
    transform: translate(-50%, -50%) rotate(45deg);

}

#anterior:hover::before, #proximo:hover::before{
    border-color: #000;

}

.dias{
    font-weight: 600;

}

.datas li.today{
    color: #fff;

}

.datas li.today::before{
    content: '';
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.85);
    border-radius: 50%;
    z-index: -1;

}

.datas li.inactive{
    color: #ccc;
    
}



